# -------------------------
# Python virtual environment
# -------------------------
.venv/
venv/

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.py[cod]
*.so

# -------------------------
# Jupyter notebooks
# -------------------------
.ipynb_checkpoints/

# -------------------------
# IDE / OS files
# -------------------------
.vscode/
.idea/
.DS_Store

# -------------------------
# Project data
# (raw, processed, merged)
# -------------------------
data/**/*.parquet
data/**/*.csv
data/**/*.json
data/**/*.xlsx
data/**/raw/
data/**/raw_companies/
data/**/raw_macro/
data/**/raw_market/
data/**/tft_ready/
data/**/tft_ready_multiseries/
data/**/sentiment/
data/**/processed/
data/**/processed_calender/
data/**/processed_companies/
data/**/processed_macro/
data/**/processed_macro_market/
data/**/merged/

# -------------------------
# Logs, artifacts, temp
# -------------------------
*.log
logs/
artifacts/
cache/
tmp/
temp/

# -------------------------
# Model checkpoints
# -------------------------
checkpoints_tft/
checkpoints_search/
*.ckpt

# -------------------------
# Lightning / PyTorch
# -------------------------
lightning_logs/
wandb/
tensorboard/

# -------------------------
# Environment files
# -------------------------
.env
.env.*
